#root {
  font-family: 'Poppins', sans-serif;
  --warning : #F8E7A1;
  --secondary : #868490;
}

body, * {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

html{  
  background-color: #030E21;
  max-width: 100%;
}

.transparan{
  background-color: rgba(9, 20, 39, 0.80);
  border-radius: 6px;
  border: 1px rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(9px);
}


.transparan-white{
  background-color: rgba(102, 95, 95, 0.2);
  border-radius: 6px;
  border: 1px rgba(210, 184, 184, 0.12);
  backdrop-filter: blur(9px);
}

/* input-border-color, input-focus-border-color, input-box-shadow{
  border-color: var(--warning) !important;
  color: var(--warning) !important;
} */
.input-border-color:focus {
  border-color: var(--warning) !important;
}

.input-border-color {
  border-color: var(--warning) !important;
}

.input-background {
  background-color: rgba(9, 20, 39, 0.80);
  backdrop-filter: blur(9px);
  /* color: var(--warning) !important; */
}

.input-text-color:focus {
  color: black !important;
  background-color: var(--warning) !important;
  box-shadow: 0 0 10px rgba(248, 231, 161, 0.3) !important;
}

a{
  color: white !important;
  text-decoration: none !important;
}

a:hover{
  color: var(--warning) !important;
  text-decoration: none !important;
}

.btn-submit:hover{
  background-color: black !important;
  color: var(--warning) !important;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.containerMotion {
  /* width: 150px;
  height: 150px; */
  /* display: grid;
  overflow: hidden; */
  margin: 0;
  list-style: none;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  /* gap: 15px;
  padding: 15px; */
  /* background: rgba(255, 255, 255, 0.2); */
  /* border-radius: 50px; */
}

/* .itemMotion {
  background: white;
  border-radius: 100%;
} */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
